*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../image/calamar.jpg);
}

.contenedor{
    height: 100vh;
    display: flex;
    justify-content: center;
}


.centrar{
    display: flex;
    width: max-content;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.myclassforh1{
    text-align: center;
    color: black;
    -webkit-text-stroke: 0.8px red;
    width: 75vw;    
}